$background-color: #2A3031;
$font-color: #fff;
$link-color: #fff;
$link-hover-color: #FE8D01;

footer#footer {
  background: $background-color;
  padding: 40px 20px;
  color: $font-color;

  h3 {
    color: $font-color;
    margin-top: 10px;
  }

  a {
    color: $link-color;

    &:hover {
      color: $link-hover-color;
    }
  }

  .copyright {
    margin-top: 60px;
    text-align: center;
  }

}
