<footer id="footer">
  <div class="ui container">

    <!-- UI Grid -->
    <div class="ui grid">

      <div class="four wide column">
        <img src="../assets/logo-vector.png" alt="Logo" style="max-width: 60%">
      </div>

      <div class="four wide column">
        <h3>Who we are</h3>

        <div class="ui list">
          <div class="item"><a routerLink="about">About us</a></div>
          <div class="item"><a routerLink="services">What we offer</a></div>
        </div>
      </div>

      <div class="four wide column">
        <h3>Our work</h3>

        <div class="ui list">
          <div class="item"><a routerLink="works">Portfolio</a></div>
        </div>
      </div>

      <div class="four wide column">
        <h3>Get in touch</h3>
        <div class="ui list">
          <div class="item"><a routerLink="contact">Contact us</a></div>
        </div>
      </div>

    </div>
    <!-- / UI Grid -->

    <div class="copyright">
      <a routerLink="privacy-policy">Privacy Policy</a> | <a routerLink="terms-conditions">Terms &amp; Conditions</a> | <a routerLink="contact">Contact Us</a> Copyright © 2016 MH Studios
    </div>

  </div>
</footer>
