<div class="about-component-container">

  <div class="container">
    <h1 class="page-title">About us</h1>

    <p>We focus on building long term partnerships with our customers and help them to grow, manage and run their technical operations.</p>
    <p>We are a privately held company group, founded in 2010 and with around 50 employees in our offices in Sweden and Bulgaria (Sofia, Plovdiv and Varna) and this is where our HR specialists find the best IT professionals for our customers.</p>
    <p>Our customers include cloud service providers and internet companies in many niches, including online marketing, finance, recruiting, social networking, gaming, e-commerce, infrastructure, B2B software, telematics, building automation, ERP and geographical information systems.</p>
    
  </div>

</div>
