<div class="service-component-container">
  <div class="container">

    <div class="col-md-8">

      <div class="content">

        <h1 class="page-title">Our services</h1>

        <h2>Business Analysis</h2>

        <p>
          Some of our partnerships start with a business analysis phase. One of our IT business analysts are then conducting an onsite
          pre-study that ends up in a product specification including proposed software architecture, time estimates and resource needs.
          The pre-study may also include an analysis of competitive solutions and identification of business opportunities and suggested
          product positioning and differentiation.
        </p>

        <img src="assets/service1.png" alt=""/>

        <h2>Project Management</h2>
        <p>
          As a customer of MH Studios you have access to a local Project Manager that will assist you in setting up ways of communicating, reporting and managing your nearshore team in the most efficient way. We have solid experience in the most commonly used software development methodologies, including Scrum and Kanban, and are also happy to share with you and implement our best-practice methodology based on agile development for distributed organizations.
          As requested, we can help you in implementing sound QA procedures whether they are based upon black-box testing, white-box testing, automated testing, etc.
        </p>

        <img src="assets/service2.jpg" alt=""/>
      </div>

    </div>

    <div class="col-md-4 sidebar">

      <h3>Web Technologies</h3>
      <ul>
        <li>PHP</li>
        <li>Javascript</li>
        <li>Java</li>
        <li>Python</li>
        <li>Ruby</li>
      </ul>

      <h3>Web Design</h3>
      <ul>
        <li>Responsive layout</li>
        <li>HTML</li>
        <li>CSS</li>
      </ul>

      <h3>Database Technologies</h3>
      <ul>
        <li>SQL Server</li>
        <li>MySQL</li>
        <li>PostgreSQL</li>
        <li>MongoDB</li>
      </ul>


    </div>

  </div>
</div>
