:host /deep/ .ui.segment {
  margin-bottom: 20px;
}

.top {
  overflow: hidden;
  margin: 20px 0;
  h1 {
    margin: 0 !important;
    padding: 0 !important;
  }
  button.logout {
    float: right;
  }

}
