<header id="header">

  <div class="container">

    <div id="logo">
      <img src="assets/logo.png" alt="logo" />
    </div>

    <nav>
      <ul id="menu">
        <li><a routerLink="/" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/services" routerLinkActive="active">Our services</a></li>
        <li><a routerLink="/works" routerLinkActive="active">Works</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About us</a></li>
      </ul>
    </nav>

  </div>

</header>

<div id="main-content">

  <router-outlet></router-outlet>

</div>

<footer id="footer">
  <div class="container">
    <div class="footer-logo"></div>
  </div>
</footer>
