<header id="header">

  <div class="ui container">

    <div id="logo">
      <img src="assets/logo.png" alt="logo" />
    </div>

    <nav>
      <ul id="menu">
        <li><a routerLink="/" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/services" routerLinkActive="active">Our services</a></li>
        <li><a routerLink="/works" routerLinkActive="active">Works</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About us</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
        <li><a routerLink="/admin" routerLinkActive="active">Admin</a></li>
      </ul>
    </nav>

  </div>

</header>

<div id="main-content">

  <div *ngIf="messages" class="ui container toast" @mAnimation>
    <message *ngFor="let message of (messages | async); let i = index"
      [title]="message.title"
      [message]="message.message"
      [type]="message.type"
      [index]="i"
      (closeClickFire)="closeMessage($event)">
    </message>
  </div>

  <router-outlet></router-outlet>

</div>

<app-footer></app-footer>
