.work-list-component-container {


  .list {
    position: relative;
    .item {
      background: #fff;
      padding: 100px;
      border: #ccc 1px solid;
      text-align: center;
      display: block;
    }

    .description {
      position: absolute;
      bottom: 0;
      background: #3E3E3E;
      width: 100%;
      height: 60px;
      color: #fff;
      padding-left: 40px;
      display: none;

      h3 {
        text-transform: none;
        font-size: 1.6em;
      }
    }
  }

}
