
<div class="home-component-container">
  <div id="slider">
    <img src="assets/slider2.jpg" alt="">
  </div>

  <div class="welcome-container container">
    <p>
      If you’re a business where a competent and efficient software development organisation is of vital importance, or you’re a highly skilled web developer
      looking for a long term career opportunity in which to flourish, then you’re in the right place. Our symbiotic business model supports the needs of both.<br><br>

      We provide highly competent, personable, web developers, mobile app developers, graphic designers and system administrators for businesses
      with an internet based go-to-market strategy. Businesses we work with have seen a need to extend their development organisations with skilled and driven individuals to fully support their visions. We find the right people at the right time to collaborate effectively with existing staff. <br><br>

      As a result, our partnerships tends to be long term rather than project based. Our customers and their dedicated nearshore development teams
      grow together, face challenges together and deliver great results together.
    </p>
  </div>
</div>
